body{
  font-size: 18px;
  font face:"helvetica";
}

.summary{
  font-size: 1.4em;
  font-style: italic;
}

#map{
  max-width: 100%;
  height: 400px;
}

header.whelp, .sec{
  margin-bottom: 2.0em;
}

header.whelp{
  background: black;
  color: white;
  padding: 0.5em 0 1.0em;
}


footer.whelp{
  margin-top: 2.0em;
  min-height: 280px;
  padding: 1.5em 0;
  background: black;
  color: white;
}

.wiki_photo{
  max-width: 300px;
}
